<html>
    <head>
        <title>kotype: <%- document.name || "Untitled Document" -%></title>
        <link rel = "stylesheet" type = "text/css" href = "<%- urlPathPrefix -%>/stylesheets/layout.css">
        <script>
            var kotypeGlobals = {
                urlPathPrefix: "<%- urlPathPrefix -%>",
                documentId: "<%- document._id -%>",
                documentOriginalFileName: "<%- document.originalFileName -%>",
                documentURL: "<%- urlPathPrefix -%><%- document.path -%>",
                conversionHost: "<%- conversionHost -%>",
                user: <%- typeof user !== "undefined" ? JSON.stringify(user) : "undefined" -%>
            };
        </script>
        <script src="<%- urlPathPrefix -%>/socket.io/socket.io.js"></script>
        <script src="<%- urlPathPrefix -%>/editor/webodf.js" type="text/javascript" charset="utf-8"></script>
        <script src="<%- urlPathPrefix -%>/editor/wodocollabtexteditor.js" type="text/javascript" charset="utf-8"></script>
        <script src="<%- urlPathPrefix -%>/javascripts/clientAdaptor.js" type="text/javascript" charset="utf-8"></script>
        <script src="<%- urlPathPrefix -%>/closure/base.js"></script>
        <script src="<%- urlPathPrefix -%>/dependencies/moment/min/moment.min.js"></script>
        <script src="<%- urlPathPrefix -%>/javascripts/fileSaver.js"></script>
        <script src="<%- urlPathPrefix -%>/javascripts/widgets/EditableTitle.js"></script>
        <script src="<%- urlPathPrefix -%>/javascripts/widgets/ExportButton.js"></script>
        <script src="<%- urlPathPrefix -%>/javascripts/widgets/UserMenu.js"></script>
        <script src="<%- urlPathPrefix -%>/javascripts/widgets/DocumentPermissions.js"></script>
        <script src="<%- urlPathPrefix -%>/javascripts/widgets/StatusLabel.js"></script>
        <script src="<%- urlPathPrefix -%>/javascripts/layoutUI.js"></script>
        <script src="<%- urlPathPrefix -%>/javascripts/editor.js" type="text/javascript" charset="utf-8"></script>
        <script src="<%- urlPathPrefix -%>/editor/dojo-amalgamation.js" data-dojo-config="async: true"></script>
        <link rel="stylesheet" type="text/css" href="<%- urlPathPrefix -%>/editor/app/resources/app.css"/>
        <link rel="stylesheet" type="text/css" href="<%- urlPathPrefix -%>/editor/wodotexteditor.css"/>
        <link rel="stylesheet" type="text/css" href="<%- urlPathPrefix -%>/editor/wodocollabpane.css"/>
        <link rel = "stylesheet" type = "text/css" href = "<%- urlPathPrefix -%>/stylesheets/editor.css">
        <meta name="google" value="notranslate"/>
    </head>
    <body class = "claro notranslate" translate = "no" onload = "kotypeEditor.boot();">
        <div id = "navbar" class = "navbar">
            <a href="<%- urlPathPrefix -%>/"><span class = "logo"></span></a>
            <div id = "documentTitle"></div>
            <div class = "navbar-item navbar-right">
                <div id = "userMenu" class = "navbar-account-display"></div>
            </div>
        </div>
        <div id = "mainContainer"></div>
    </body>
</html>
